99_global_incident_handler.json
{
  "name": "99_global_incident_handler",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "a9e86050-16ae-49ad-875f-7806a5827bfc",
      "name": "Global Error Trigger"
    },
    {
      "parameters": {
        "chatId": "admin_id",
        "text": "=<b>🚨 CRITICAL ERROR REPORT</b>\n\n<b>Source Workflow:</b> {{ $json.workflow.name }}\n<b>Error Message:</b> {{ $json.execution.error.message }}\n<b>Failed Node:</b> {{ $json.execution.lastNodeExecuted }}\n<b>Time:</b> {{ $now.format('YYYY-MM-DD HH:mm:ss') }}\n\n<a href=\"{{ $json.execution.url }}\">👉 Open Execution Log</a>",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        224,
        0
      ],
      "id": "520e8e58-67d5-420f-a9e2-fc73ca3b588c",
      "name": "Push Alert to Admin (Telegram)",
      "webhookId": "54eefdd2-5556-4530-95a4-94c1b3f761df",
      "credentials": {
        "telegramApi": {
          "id": "WQOen7Stuv786V3K",
          "name": "Telegram test"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1M0KIX2lDEJmUu0YgaFvW_qz6nrPfGkqT1E1tzhQPWOo",
          "mode": "list",
          "cachedResultName": "F_User_Status",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1M0KIX2lDEJmUu0YgaFvW_qz6nrPfGkqT1E1tzhQPWOo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1865180299,
          "mode": "list",
          "cachedResultName": "dead_letters",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1M0KIX2lDEJmUu0YgaFvW_qz6nrPfGkqT1E1tzhQPWOo/edit#gid=1865180299"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $now }}",
            "error_message": "={{ $('Global Error Trigger').item.json.execution.error.message }}",
            "execution_id": "={{ $('Global Error Trigger').item.json.execution.id }}",
            "error_node": "={{ $('Global Error Trigger').item.json.json.execution.lastNodeExecuted }}",
            "payload": "={{ JSON.stringify($('Global Error Trigger').item.json) }}",
            "execution_url": "={{ $('Global Error Trigger').item.json.execution.url }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "execution_id",
              "displayName": "execution_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "error_node",
              "displayName": "error_node",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "payload",
              "displayName": "payload",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "execution_url",
              "displayName": "execution_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        464,
        0
      ],
      "id": "d18727c8-ebaa-4f2c-8ffe-985bd24651da",
      "name": "Store Incident in DLQ (Sheets)",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "22akbm2gYXgL33dL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "**Purpose:** Centralized Error Handling & Monitoring.\n\n**Logic:** This is a Dead Letter Queue (DLQ) pattern. It automatically catches failures from ANY node in the main workflow.\n\n**Actions:**\n1. Sends real-time incident details to the developer via Telegram.\n2. Logs the Execution ID, Error Message, and Timestamp for further debugging.",
        "height": 208,
        "width": 528
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -16,
        -256
      ],
      "typeVersion": 1,
      "id": "6433575a-9aa2-441c-90bd-18bc469354e9",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Global Error Trigger": {
      "main": [
        [
          {
            "node": "Push Alert to Admin (Telegram)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push Alert to Admin (Telegram)": {
      "main": [
        [
          {
            "node": "Store Incident in DLQ (Sheets)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "3998f234-3377-4130-a6bd-c564b0b62f2f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "03b67b3e60aa493ec1244124aace506e5b72662a5ebfe65ae58c0d351a372da8"
  },
  "id": "bv8YSOMCaYeITija",
  "tags": []
}